<%-include("/public/header")-%>
    <h3>ABOUT ME</h3>
            <hr>
            <p class="about-context">Hello  World! I'm Kazeem Abiodun,A Front-End Developer based in Abeokuta,Ogun state.From Adire Textile making to lines of code on a web page,I love combining the worlds of logic and creative design to make eye catching,accessible and user-friendly websites.<a href="#" style="color:green"   >Read more</a>
                Technology leads,society follows.The move towards increasing inclusivity and diversity in the industry throught representation is of importance to me.
                I'm excited to make the leap and continue refining my skills with the right company.
            </p>
            <%-include("/public/footer")-%>
