<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <h1 class="contact-headline">About Me</h1>
    <h2>I started my coding journey since 2021</h2>
    <span>Hello  World! I'm Kazeem Abiodun,A Front-End Developer based in Abeokuta,Ogun state.From Adire Textile making to lines of code on a web page,I love combining the worlds of logic and creative design to make eye catching,accessible and user-friendly websites.
        Technology leads,society follows.The move towards increasing inclusivity and diversity in the industry throught representation is of importance to me.
        I'm excited to make the leap and continue refining my skills with the right company.
    </span>
    
</body>
</html>
   
        
