<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <h5>My Phone number</h5>
    <span>09091009428
        <h5>Gmail Account</h5>
    <span>Kazeemabiodun13@gmail.com</span>
    </span>
    <h5>My Twitter</h5>
    <span>twitter/AdireGuy</span>
    <h5>My Instagram Page</h5>
    <span>Instagram/AdireGuy</span>
    
</body>
</html>
